<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <style>
        th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        .nav_tab_link{
            text-align: center;
            text-decoration: none;
            color: black;
            font-weight: bold;
            padding:10px;
        }
        .nav_tab_link:hover{
            color:rgb(8, 97, 97);
        }
        .brief_stat{
            width:70%;
            margin:auto;
            margin-top:100px;
            min-width: 800px;
        }
        .pending, .done{
            font-weight: bold;
        }

        .pending{
            color:red;
        }

        .done{
            color:green;
            padding-left: 20px;
        }
    </style>
</head>
<body>
    <div class="nav_tab container">
        <div class="nav_tab_links" style="width:300px; padding:10px; margin:auto; margin-top:50px; background-color: rgb(205, 208, 211); text-align: center;">
            <a href="/needer_data" class="nav_tab_link" style="color:rgb(4, 126, 126);" >Needer data</a>
            <a href="/donor_data" class="nav_tab_link">Donor data</a>
        </div>
    </div>

    <div class="brief_stat d-flex">
        <div class="pending"><%= "Pending Requests: " + pending%></div>
        <div class="done"><%= "Done Requests: " + done%></div>
    </div>
    <div class="needer_list" style="text-align: center; width: 70%; min-width: 800px; margin: auto; margin-top: 20px;">
        <table cellpadding= "10px" id="customers" style="text-align: center;width: 100%; border: 1px solid black; border-collapse: collapse;">
            <tr>
                <th>Name </th>
                <th>Contact</th>
                <th>Blood Group</th>
                <th>City</th>
                <th>Pincode</th>
                <th>State</th>
                <th> Image </th>
                <th> Date</th>
                <th> Status</th>
            </tr>
            <% for(var i = 0; i <data.length; i++ ) { %>
            <%if(!data[i].isChecked){%>
            <tr style="padding: 10px; background-color: red; color:white">
                
                <td> <%= data[i].name %> </td>
                <td> <%= data[i].contact %> </td>
                <td> <%= data[i].blood%></td>
                <td> <%= data[i].city %></td>
                <td> <%= data[i].pincode%></td>
                <td> <%= data[i].state %> </td>
                <td> <a href="<%= '/view_image?id=' + id[i]%>">view file</a></td>
                <td> <%= data[i].date %> </td>
                <td > pending <input type="checkbox"   onclick="changeStatus('<%=data[i].id %>')"></td>
            </tr>
            <%}else{%>
                <tr style="padding: 10px; background-color: green; color:white;">
                    <td> <%= data[i].name %> </td>
                    <td> <%= data[i].contact %> </td>
                    <td> <%= data[i].blood%></td>
                    <td> <%= data[i].city %></td>
                    <td> <%= data[i].pincode%></td>
                    <td> <%= data[i].state %> </td>
                    <td> <a href="<%= '/view_image?id=' + id[i]%>">view file</a></td>
                    <td> <%= data[i].date %> </td>
                    <td>done <input type="checkbox"  onclick="changeStatus('<%=data[i].id %>')" checked></td>
                </tr>
                <%}%>
           
            <%  } %>
            
        </table>
    
    </div>
    <script>
        function changeStatus(id){
            //console.log(id);
            window.location.href="/changeStatus/?id=" + id;
        }
    </script>
</body>
</html>
